<footer>
    <div class="footer-content">
      <!-- Columna 1: Sobre el Proyecto -->
      <div class="footer-column">
        <h3>Sobre el Proyecto</h3>
        <p><b>
          Este proyecto es una aplicación web desarrollada con Angular 15 que consume la API de PokeAPI para mostrar información sobre Pokémon. ¡Atrápalos todos!
        </b></p>
      </div>
  
      <!-- Columna 2: Información Personal -->
      <div class="footer-column">
        <h3><b>Desarrollador</b></h3>
        <p><b>Pablo Morales</b></p>
        <p><b>Desarrollador Full Stack</b></p>
        <p><b>pablo.morales@example.com</b></p>
      </div>
  
      <!-- Columna 3: Enlaces Rápidos -->
      <div class="footer-column">
        <h3>Enlaces Rápidos</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Pokédex</a></li>
          <li><a href="#">Acerca de</a></li>
        </ul>
      </div>
    </div>
  
    <!-- Derechos de Autor -->
    <div class="footer-bottom">
      <p>&copy; <b>2023 Pablo Morales. Todos los derechos reservados.</b></p>
    </div>
  </footer>