/* Estilos generales del footer */
footer {
    background: linear-gradient(45deg, #FF0000, #FFCB05); /* Gradiente rojo y amarillo */
    color: #3B4CCA; /* Azul eléctrico */
    padding: 20px 30px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2); /* Sombra superior */
    border-top: 6px solid #FFEB3B; /* Borde superior azul eléctrico */
    text-align: center;
}

/* Contenedor del contenido del footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Columnas del footer */
.footer-column {
    flex: 1;
    min-width: 250px;
}

/* Títulos de las secciones */
.footer-column h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sombra blanca */
}

/* Texto del footer */
/* Estilos para los párrafos del footer */
.footer-column p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 5px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra más intensa para mejor contraste */
    opacity: 0.9; /* Ligera opacidad para suavizar el texto */
    letter-spacing: 0.5px; /* Mejora la legibilidad */
}


/* Estilos de los enlaces */
.footer-column ul {
    list-style: none;
    padding: 0;
    letter-spacing: 1px; /* Mejora la legibilidad */

}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column a {
    letter-spacing: 0.5px; /* Mejora la legibilidad */

    text-decoration: none;
    color: #3B4CCA; /* Azul eléctrico */
    font-size: 1.2rem;

    font-weight: bold;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.footer-column a:hover {
    color: rgb(167, 38, 38); /* Amarillo brillante */
    text-shadow: 0 0 10px rgba(255, 203, 5, 0.8); /* Resplandor amarillo */
}

/* Estilos de la parte inferior del footer */
.footer-bottom {
    margin-top: 80px;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}
