.pokemon-card {
    background: linear-gradient(145deg, #FFCB05, #FF0000); /* Fondo con gradiente de colores vibrantes */
    border: 5px solid #FFEB3B; /* Borde de 5px, color amarillo brillante */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #fff; /* Fondo blanco para mantener un buen contraste */
}

.pokemon-card:hover {
    transform: scale(1.05); /* Efecto de aumento sutil al pasar el ratón */
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25); /* Sombra más pronunciada en el hover */
}

.pokemon-card img {
    width: 120px; /* Ajuste en el tamaño de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados en la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor de la imagen */
    margin-bottom: 15px;
}

.pokemon-card h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3B4CCA; /* Azul para destacar el nombre */
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
}

.pokemon-card p {
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}

.pokemon-card ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pokemon-card li {
    padding: 8px 18px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 20px;
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.pokemon-card li:hover {
    background-color: #ddd; /* Efecto de hover suave */
}

.pokemon-card .type-fire { background-color: #EE8130; }
.pokemon-card .type-water { background-color: #6390F0; }
.pokemon-card .type-grass { background-color: #7AC74C; }
.pokemon-card .type-electric { background-color: #F7D02C; }
.pokemon-card .type-psychic { background-color: #F95587; }
.pokemon-card .type-ghost { background-color: #735797; }
.pokemon-card .type-dark { background-color: #705746; }
.pokemon-card .type-fairy { background-color: #D685AD; }
.pokemon-card .type-bug { background-color: #A6B91A; }
.pokemon-card .type-normal { background-color: #A8A77A; }
.pokemon-card .type-fighting { background-color: #C22E28; }
.pokemon-card .type-poison { background-color: #A33EA1; }
.pokemon-card .type-ground { background-color: #E2BF65; }
.pokemon-card .type-flying { background-color: #A98FF3; }
.pokemon-card .type-rock { background-color: #B6A136; }
.pokemon-card .type-ice { background-color: #96D9D6; }
.pokemon-card .type-steel { background-color: #B7B7CE; }
.pokemon-card .type-dragon { background-color: #6F35FC; }

/* Estilos adicionales */
.pokemon-card p strong {
    font-weight: 700;
    color: #333;
}

.pokemon-card ul li {
    font-size: 0.9rem;
}
